// Fonts
$font-size-root = 16px
$base-font-family = "PT Sans", Tahoma, Helvetica, Arial, sans-serif
$base-icon-font = "icomoon"
$base-font-size = 20px
$base-line-hight = 1.4

// Colors
$body-bg-color = #fafafa
$base-text-color = #333
$link-color = #0275d8
$link-hover-color = darken($link-color, 15%)

$main-color = #ffec3c

$gray-dark = #373a3c
$gray = #55595c
$gray-light = #818a91
$gray-lighter = #eceeef
$gray-lightest = #f7f7f9

$brand-primary = #0275d8
$brand-success = #5cb85c
$brand-info = #5bc0de
$brand-warning = #f0ad4e
$brand-danger = #d9534f

$text-muted = $gray-light
$abbr-border-color = $gray-light

// Layout
$min-width = 600px
$max-width = 900px
$footer-height = 80px

// Links
$link-decoration = none
$link-hover-decoration = underline

$layout-section
  margin: 0 auto
  min-width: $min-width
  max-width: $max-width

// Tables
$table-cell-padding = 0.75rem
$table-sm-cell-padding = 0.3rem
$table-bg = transparent
$table-bg-accent = #f9f9f9
$table-bg-hover = whitesmoke
$table-bg-active = $table-bg-hover
$table-border-color = $gray-lighter

// Effects
$transition-duration = .2s
$mq-retina = "(min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2)"
