/*====================
* Fonts styles
* file: fonts.styl
* dir: /styles/globals
====================*/

webfont('PT Sans Caption', 'ptsans/ptc55f')
webfont('PT Sans Caption Bold', 'ptsans/ptc75f', 'false', 'bold', 'normal')
webfont('PT Sans Narrow', 'ptsans/ptc57f')
