/*====================
* Main styles
* file: app.styl
* dir: /styles
====================*/

// @import 'typographic'
// typographic()

.site
  lost-utility clearfix
  lost-center 1120px
  +below(700px)
    lost-center 320px

// .svg-icon-1
//   i-svg($dish)
// .png-icon-1
//   i-png($twitter)

.wrap
  lost-utility clearfix

.grid-item
  lost-column 1/3
  background whitesmoke
  height 25vh
  line-height 25vh
  +below(700px)
    lost-column 1/1
    margin-bottom 1em
    &:last-child
      margin-bottom 0

.grid-item, header, nav, footer
  text-align center
