//- Scripts for <head>

<script src="js/vendors/modernizr-2.8.3.min.js"></script>
<!--[if lt IE 9]>
<script src="js/vendors/ie/selectivizr-1.0.3b.min.js"></script>
<script src="js/vendors/ie/respond-1.4.2.min.js"></script>
<script src="js/vendors/ie/calc.min.js"></script>
<![endif]-->
