rupture.enable-em-breakpoints = true
rupture.scale = 0 544px 768px 992px 1200px 1840px
rupture.scale-names = 'xs' 'sm' 'md' 'lg' 'xl' 'hd'

h1
  color gold
.wrap
  lost-utility clearfix
.grid-item
  background-color firebrick
  height 20vh
  margin-bottom 1rem
  lost-column 1/1
  +above('md')
    lost-column 1/3
