doctype html
html.no-js(lang="ru")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    block title
      title Default title
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    include ../meta/favicons
    include ../meta/cssLinks
    include ../meta/hScripts
  body.site
    include ../modules/oldbrowser
    include ../modules/header
    include ../modules/nav
    block content
      //- Your content here
    include ../modules/footer
  include ../meta/fScripts
  include ../meta/metrics
